*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
 flex-direction: column;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
  display: flex;
  justify-content: space-between;
}

.card {
  /* background-color: hsl(0, 0%, 100%); */
  /* background-color: hsl(253, 36%, 44%); */
  border-radius: 5px;
  border-width: 7px;
  /* border-width: 1px; */
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px; */
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

/* .card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
} */
#card-start {
  display: flex;
  flex-direction: column;
}
.card-question {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

/* .card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
} */
.button-container {
  display: flex;
  flex-direction: column;
}

.button-container button {
  display: block;
  padding: 5px;
  margin-block: 10px;
  margin-bottom: 1px;
  background-color: rgb(217, 228, 228);
  text-align: left;
  /* cursor: pointer; */
}
.btn {
  margin-bottom: 10px;
  background-color: aqua;
  text-align: center;
} 

.final-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.final-score h2 {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.final-score h2 span {
  margin-left: 0.5rem;
  font-size: 2rem;
}

.final-score form {
  margin-top: 1.5rem;
}

.final-score label {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.final-score input[type="text"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-right: 0.5rem;
}

.final-score button[type="submit"] {
  background-color: aqua;
  /* background-color: #007bff; */
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .final-score button[type="submit"]:hover {
  background-color: #0062cc;
} */

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  /* #password {
    font-size: 1rem;
  } */
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
